/* Jokerr77 */
#chat-messages .id-22826340 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/oUiPLXQ.jpg'); 
        background-size:        cover; 
}

#chat-messages .id-22853105 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/oUiPLXQ.jpg'); 
        background-size:        cover; 
}
#chat-messages .id-5026321 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/QuWdZWH.gif'); 
        background-size:        cover; 
}
