/* Jokerr77 */
#chat-messages .id-22826340 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/hCY1eMC.jpg'); 
        background-size:        cover; 
}

#chat-messages .id-22853105 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/hCY1eMC.jpg'); 
        background-size:        cover; 
}
